[submodule "voice-clock.wiki"]
	path = voice-clock.wiki
	url = https://gitlab.soraharu.com/jimchn/voice-clock.wiki.git
[submodule "UserCode"]
	path = UserCode
	url = https://gitlab.soraharu.com/jimchn/UserCode.git
